@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
* {
    /* border: 1px solid red; */
    --left-width: 40%;
    --background-grey: rgba(39, 38, 38, 0.5);
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --right-upper-lower-background: rgba(245, 238, 238, 0.514);
    --left-padding: 5rem;
    --font-colour: black;
}

/* :root.dark {
    --font-colour: white;
}

:root.light {
    --right-upper-lower-background: rgba(245, 238, 238, 0.514);
    --font-colour: black;
} */

:root {
    font-family: var(--font);
}

body {
    margin: 0;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
}

a {
    text-decoration: underline;
    color: white;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}

/* Left elements (image) */
    .left {
        width: var(--left-width);
        height: 100%;
        background-image: url(./images/background.jpg);
        background-size: cover;
        flex: 1 auto;
    }

    .image-text-container {
        position: absolute;
        top: 100px;
        padding: 25px 0px 25px;
        background-color: var(--background-grey);
        display: flex;
        justify-content: center;
        width: var(--left-width);
        flex: 1 auto;
        display: flex;
        justify-content: center;
    }

    .image-left {
        content: url(./images/odin-lined.png);
        padding: 0;
        margin: 0;
        height: 135px;
        width: 100px;
    }

    .image-text {
        color: white;
        font-size: clamp(1.5rem, 3rem, 5rem);
        letter-spacing: .25rem;
        font-weight: bold;
        font-family: 'MedievalSharp', cursive;
        font-size: 52px;
        padding: 45px 10px 25px;
    }

    .image-credit-container {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0px;
        width: var(--left-width);
        background-color: var(--background-grey);
        padding: 5px 0px 5px;
    }

    .image-credit {
        color: white;
    }

/* Right Elements (form) */
    .right {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 25%;
        background-color: var(--right-upper-lower-background);
    }

    .top-text-container {
        width: 80%;
    }
   
    p {
        font-size: 1.5rem;
        padding-left: var(--left-padding);
        margin: .25rem 0;
        letter-spacing: .05rem;
        line-height: 2rem;
    }

    p:nth-child(3) {
        margin-top: 1.25rem;
    }

    .middle {
        /* height: 40%; */
        box-shadow: 5px 2.5px 5px 0px;
    }

    .middle > p {
        margin: 2rem 0;
        font-size: 2rem;
    }

    form {
        padding-left: var(--left-padding);
        width: 80%;
    }

    .form-inner {
        display: grid;
        grid-template-columns: auto auto;
    }

    label {
        font-size: .75rem;
        font-weight: bold;
        color:rgb(100, 98, 98)
    }

    input {
        width: 20rem;
        padding: .75rem;
        margin: .25rem 0 1rem;
        font-family: var(--font);
        font-size: 1rem;
        border: 1px solid rgba(185, 184, 184, 0.836);
        border-radius: 10px;
    }

    input:valid {
        border: 1px solid rgb(7, 241, 7);
        background-color: rgb(177, 243, 177);
    }

    input:focus {
        background-color: #c5eff7;
        outline: none;
        box-shadow: 2.5px 2.5px 2.5px 0px;
        border: 1px solid black;
    }

    button {
        position: relative;
        bottom: -100px;
        padding: 1rem 3rem;
        background-color: #1f89bb;
        border-radius: 5px;
        font-family: var(--font);
        font-size: 1rem;
        font-weight: bold;
        color: white;
        border: none;
    }

    button:hover {
        cursor: pointer;
        background-color: #6bc7f1;
    }

    button:focus {
        background-color: #6bc7f1;
    }

    .password-mismatch::after {
        content: "*Passwords do not match";
        position: absolute;
        color: rgb(252, 0, 0);
        font-size: .9rem;
        font-weight: bold;
    }

   /*  input:invalid {
        border: 1px solid rgb(255, 0, 0);
        background-color: none;
    } */

    .password-match::after {
        content: "Passwords match!";
        position: absolute;
        color: rgb(16, 168, 23);
        font-size: .9rem;
        font-weight: bold;
    }

    .lower {
        background-color: var(--right-upper-lower-background);
    }

    .lower > p {
        padding: 100px  5rem 200px;
    }

    .lower > p > a {
        text-decoration: none;
        color: #1f89bb;
        letter-spacing: -0.1rem;
        font-weight: bold;
    }

    .lower > p > a:hover {
        color: #6bc7f1;
    }

    .theme-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url(./images/dark-light.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .theme-toggle:hover {
        background-color: #c7cacc;
        box-shadow: -2.5px 2.5px 2.5px 0px;
        cursor: pointer;
    }