* {
    border: 1px solid red;
    
}

body {
    margin: 0;
}

.body {
    height: 100%;
    /* width: 100%; */
    display: flex;
}

.left {
    width: clamp(200px, 35%, 45%);
    height: 100%;
    background-image: url(./images/background.jpg);
}

.image-text-container {
    position: absolute;
    top: 100px;
    padding: 50px;
    /* background-color: rgba(131, 130, 130, 0.5); */
    display: flex;
    justify-content: center;
    width: 32.5%;
}

.image-text {
    color: white;
    font-size: 52px;
    font-weight: bold;
}

.right {
    width: clamp(300px, 65%, 55%);
    height: 100%;
}